
<button routerLink="/home" class="btn btn-primary">Volver</button>
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link href="presentacion.component.css" rel="stylesheet">
</head>
 
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column quien-soy-container">
        <main class="px-3">
            <h1>Labo IV.</h1>
            <h1 class="title">¡Hola, soy Santiago Sbaglia!</h1>
            <p class="description">Soy un desarrollador web con experiencia en Angular y otras tecnologias.</p>
            <p class="description">Mi objetivo es poder aplicar los conocimientos adquiridos en la materia.</p>
            <div>
                <p class="description">El juego santi dice se basa en la memoria.. La idea es replicar los colores que santi dice </p>
            </div>
            <img src="../../assets/imagenes/foto_santi.jpg" alt="foto-santi" class="centered-image fade-in">
        </main>

        <footer class="mt-auto text-white-50">
        </footer>
    </div>
</body> 
</html>
