.santi-dice-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .colores-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .color {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .color:active {
    transform: scale(0.9);
  }
  
  
  .rojo {
    background-color: red;
  }
  
  .verde {
    background-color: green;
  }
  
  .azul {
    background-color: blue;
  }
  
  .amarillo {
    background-color: yellow;
  }
  
  .resaltar {
    filter: brightness(200%);
    border: 5px solid white;
    transform: scale(1.2);
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: #0056b3;
  }
  button:focus {
    outline: none;
  }
  
  p {
    font-size: 18px;
    margin-top: 20px;
  }
  