<button routerLink="/login" class="btn btn-primary">Volver</button>
<div class="container">
    <div class="card p-4" style="background-color:rgba(251, 147, 3, 0.3);">
      <h2 class="mb-4">Registrarse</h2>
      <form (ngSubmit)="registrar()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" [(ngModel)]="mail" name="email" required>
        </div>
        <div class="form-group">
          <label for="clave">Contraseña:</label>
          <input type="password" class="form-control" id="clave" placeholder="Ingrese su contraseña" [(ngModel)]="clave" name="clave" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
      </form>
    </div>
  </div>