.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('../../../assets/imagenes/wp.jpg');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.input-container {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #036627;
   
}