.form-signin {
  width: 100%; /* Ancho igual al ancho de la ventana */
  height: 100vh; /* Altura igual a la altura de la ventana */
  padding: 0px;
  background-image: url("../../../assets/imagenes/utnGames1.jpg");
  background-size: cover ;
  background-repeat:initial;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
 
}

.form-control {
  height: 50px;
  font-size: 18px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  height: 50px;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.form-floating label {
  color: #495057;
  font-size: 18px;
}

.form-floating {
  margin-bottom: 1rem;
}

.estado-registro {
  margin-top: 1rem;
}

.checkbox {
  margin-top: 1rem;
}

.form-signin img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 100px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

.exito {
  color: green;
}

.advertencia {
  color: orange;
}
