<main class="form-signin">
  <form (ngSubmit)="login()">
    <img class="mb-4" src="../../../assets/imagenes/utn.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Ingresar</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="mail" name="email">
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="claveLogin" placeholder="Contraseña" [(ngModel)]="clave" name="clave">
      <label for="claveLogin">Contraseña</label>
    </div>
    <div>
      <button class="w-100 btn btn-lg btn-primary" type="button" (click)="usuarioPorDefecto()">Usuario por defecto</button>
     </div>
  
       
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" name="recordarme"> Recordarme
      </label>
    </div>
    <div *ngIf="mensajeError" class="error">{{ mensajeError }}</div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>

    <div>
      <button routerLink="/registro" class="btn btn-primary">Registrarme</button>
    </div>
     
  
    
  </form>
 
</main>
