<div class="home-container">
  <div class="header">
    <h1>Bienvenido {{nombreUsuario}}, a la Plataforma de Juegos</h1>
    <button (click)="cerrarSesion()" class="btn btn-logout" style="margin-top: -1rem;">Cerrar sesión</button>
  </div>
  <div>
    <button routerLink="/homeAdmin" class="btn btn-primary">Home Admin</button>
  </div>
  <div>
    <button routerLink="/presentacion" class="btn btn-primary">Quién soy</button>
  </div> 
  <div class="game-options">
    <p>Elige un juego para comenzar:</p>
    <ul>
      <li> 
        <button (click)="Ahorcado()" class="btn btn-primary">Ahorcado</button>
      </li>
      <li>
        <button (click)="MayorMenor()"  class="btn btn-primary">Mayor o Menor</button>
      </li>
      <li>
        <button routerLink="/preguntados" class="btn btn-primary">Preguntados</button>
      </li>
    
      <li>
        <button routerLink="/santiDice" class="btn btn-primary">Santi Dice</button>
      </li>
    </ul>
  </div>

  <div> 

    <button routerLink="/chat" class="btn btn-primary">Chat</button>
  </div>
</div>
